{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/fonts/css/all.css' %}">
    <link rel="stylesheet" href="{% static '/fonts/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/splide.min.css' %}">
    <title> {% block title %}{% endblock title %}</title>
</head>
<body>
    
    {% block content %}
        
    {% endblock content %}
        
    <script src="{% static '/js/slim.js' %}"></script>
	<script src="{% static '/js/bootstrap.js' %}"></script>
	<script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/slider.js' %}"></script>
    <script src="{% static '/js/splide.js' %}"></script>
</body>
</html>